.playback-bar {
	width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.playback-bar__progress-time {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    min-width: 40px;
    text-align: center;
}

.progress-bar {
    height: 12px;
    position: relative;
	width: 100%;
	background-color: inherit !important;
}

.progress-bar__bg {
    background-color: #535353 !important;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4px;
    width: 100%;
}

.middle-align {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.progress-bar__fg_wrapper {
    overflow: hidden;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.progress-bar__fg {
    background-color: #b3b3b3 !important;
    border-radius: 2px;
    height: 4px;
    width: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.progress-bar__slider {
    background-color: #fff !important;
    border: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    z-index: 100;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
    opacity: 0;
}

.progress-bar--is-active .progress-bar__slider {
	opacity: 1;
}