body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  width: 100%;
  height: 100vh;
}

body, #root {
  min-height: 100vh;
  width: 100%;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(88, 80, 80, 0.3);
}

.root-container {
  width: 100%;
  min-height: 100vh;
  background: #0f1424;
}

.spotify-container {
  background: #0f1424;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.fixed-top-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
}

.btn-green {
  color: #FFF !important;
  background-color: #1DB954 !important;
  z-index: 1;
}

.btn-lg {
  border-radius: 500px !important;
  font-size: 16px;
  line-height: 1;
  padding: 10px 56px 21px;
  min-width: 160px;
  border: 1px solid #1DB954;
}

.btn-md {
  border-radius: 500px !important;
  font-size: 16px;
  line-height: 1;
  padding: 10px 56px 21px;
  min-width: 90px;
  font-weight: 600;
  border: 1px solid #1DB954;
}

.btn-small {
  border-radius: 500px !important;
  font-size: 14px;
  line-height: 1;
  padding: 10px 56px 21px;
  min-width: 50px;
  max-height: 40px;
  font-weight: 600;
  border: 1px solid #1DB954;
}

.btn-md:hover,.btn-small:hover {
  transform: scale(1.1);
}

.btn-md:focus, .btn-small:focus {
  outline: none;
}

p,h4 {
  color: #fff;
  font-size: 13px;
  line-height: 1;
  font-weight: 100;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.player-container {
  width: 100%;
  height: 60px;
  background-color: #373638;
}

